@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255 255 255);
}

:root {
  --base-anim-duration: 0.3s
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
}


.page-enter-active,
.page-leave-active {
  transition: opacity var(--base-anim-duration);
  -webkit-transition: opacity var(--base-anim-duration);
  -moz-transition: opacity var(--base-anim-duration);
  -ms-transition: opacity var(--base-anim-duration);
  -o-transition: opacity var(--base-anim-duration);
}
.page-enter,
.page-leave-to {
  opacity: 0;
}


@keyframes move-up-sm-position {
  0% {
    opacity: 0;
    bottom: 18px;
  }

  100% {
    opacity: 1;
    bottom: 30px;
  }
}

@keyframes move-up-sm {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes move-down-sm {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoom-in-sm {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}